src/main/mule/customer-billing-billingdata-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:att-mule-applicationlogger="http://www.mulesoft.org/schema/mule/att-mule-applicationlogger"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/att-mule-applicationlogger http://www.mulesoft.org/schema/mule/att-mule-applicationlogger/current/mule-att-mule-applicationlogger.xsd">

	
	<flow name="customer-billing-billingdata-sapi-main">
		<http:listener
			config-ref="customer-billing-billingdata-sapi-httpListenerConfig"
			path="/api/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router
			config-ref="customer-billing-billingdata-sapi-config" />

	</flow>
	<flow
		name="get:\billing\accounts\(ban)\systems\(billerId)\history:customer-billing-billingdata-sapi-config">
		<flow-ref doc:name="retrieve-billing-history-sub-flow" doc:id="5069ec24-1b29-4736-bb57-a09e7e968205" name="retrieve-billing-history-sub-flow" />
		</flow>
	
	<flow
		name="get:\billing\statements\(statementId)\details:customer-billing-billingdata-sapi-config">
		<flow-ref doc:name="get-statement-details-sub-flow" doc:id="3bad5563-a9df-4554-b14c-926eec8aa8ab" name="get-statement-details-sub-flow" />
	</flow>
	<flow
		name="get:\billing\statements\(statementId)\pdf:customer-billing-billingdata-sapi-config">
		<flow-ref doc:name="get-statement-pdf-sub-flow" doc:id="aaec5a5b-55aa-45c8-a253-7c1cbb58a444" name="get-statement-pdf-sub-flow" />
	</flow>
</mule>
